@media (max-width: 1200px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 100%;
    }
}

@media (max-width: 992px) {
    .logo p {
        font-size: 18px;
        line-height: 28px;
    }

    .logo span {
        font-size: 12px;
        line-height: 16px;
    }

    .main-img {
        border-top-right-radius: 25px;
        border-bottom-left-radius: 0;
    }

    .content-data {
        border-top-right-radius: 0;
        border-bottom-left-radius: 25px;
    }
}